#preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #243447
    url('https://thumbs.gfycat.com/JointRevolvingAntelopegroundsquirrel-size_restricted.gif');
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 50%;
    z-index: 999999
  }  